/* styles for documentation pages*/
.toc-item {
  list-style: none;
}
.toc-level-1 {
  padding: 0;
}
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  display: block;
  content: ' ';
  margin-top: -4rem;
  height: 4rem;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 700px) {
  body {
    background-color: blue;
  }
  .toc-item {
    list-style: disc;
  }
}
